.score {
  position: relative;
  background: url('../../assets/images/score-board.png') no-repeat;
  background-size: 100% auto;
  width: 155px;
  height: 50px;
}

.title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -10px;
  transform: matrix(1, -0.04, 0.08, 1, 0, 0);
}

.value {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monetary {
  font-size: 1rem;
  margin-right: .5em;
}
