@import '../../styles/animations.scss';
@import '../../styles/colors.scss';

.endScreen {
  z-index: 11;
  position: absolute;
  left: 50%;
  top: 3em;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 500px;
  max-height: 100vh;
  background: url('../../assets/images/info-background.png') no-repeat;
  background-size: 100% 100%; 
  padding: 1em;
  text-align: center;
  animation: focusIn ease-out 1s;

  h1 {
    margin-bottom: 1em;
  }
}

.shareButtons {
  display: flex;
  margin: 1em 0 0;
  justify-content: space-around;
  flex-wrap: wrap;

  button {
    margin-bottom: 1em;
  }
}

.bottom {
  button {
    margin-bottom: 10px;
  }

  p {
    font-size: 50%;
  }
}

.fatSnake {
  margin: 1em 0;

  figure img {
    width: auto;
    background: url('../../assets/images/background-dark-yellow.png') no-repeat;
    background-size: 100% 100%;
    padding: 12px;
    color: #FFF;
  }
}

// a {
//   display: block;
//   font-family: 'Bangers', cursive;
//   text-transform: uppercase;
//   cursor: pointer;
//   text-align: center;
//   background: url('../../assets/images/continue-btn.png') no-repeat;
//   background-size: 100% 100%;
//   width: auto;
//   color: #FFF;
//   font-size: 15px;
// }