@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes focusIn {
  0% {
    opacity: 0;
    filter: blur(12px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


@keyframes fall {
  0% {
    opacity: 0;
    transform: scale(2) rotate(720deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fill {
  0% {
    transform: scaleX(0);
    transform-origin: left top;  }
  100% {
    transform: scaleX(1);
    transform-origin: left top;  
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@mixin fadeContent($duration) {
  animation: fadeIn ease-out $duration;
}

@mixin slideDownContent($duration) {
  animation: slideDown ease-out $duration;
}
