@import url('https://fonts.googleapis.com/css?family=Bangers|Caveat+Brush&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3 {
  font-family: 'Bangers', cursive;
  font-size: 1.7rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 25px;
}

button {
  font-family: 'Bangers', cursive;
  text-transform: uppercase;
  padding: 0 1em;
  cursor: pointer;
  text-align: center;
  background: url('../assets/images/continue-btn.png') no-repeat;
  background-size: 100% 100%;
  width: auto;
  min-height: 30px;
  color: #FFF;
  font-size: 15px;
}

body {
  background: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  color: #FFF;
  font-family: 'Caveat Brush', cursive;
  font-size: 25px;
  text-shadow: -1px 1px 0px #593B00;
  text-transform: uppercase;
  overflow-x: hidden;
}