@import url('https://fonts.googleapis.com/css?family=Bangers|Caveat+Brush&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Bangers', cursive;
}

h3 {
  font-size: 1rem;
}


body {
  background: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  color: #FFF;
  font-family: 'Caveat Brush', cursive;
  font-size: 25px;
  text-shadow: -2px 2px 0px #593B00;
}