.main {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 5fr 2fr;
  padding-top: 10px;
}

.game {
  position: relative;
}

.canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url('../../assets/images/frame.png') no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}