@import '../../styles/colors.scss'; 

.main {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 5fr 2fr;
  padding-top: 10px;
}

.game {
  position: relative;
}

.canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url('../../assets/images/frame.png') no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.leSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}

.pauseBtn {
  background: $yellow;
  border-radius: 3px;
  margin-top: 1em;

  i {
    color:transparentize($color: #000000, $amount: .1);
  }
}

.githubBtn {
  background: $yellow;
  border-radius: 3px;
  margin: 1em 0 0 0;

  i {
    color:transparentize($color: #000000, $amount: .1);
  }
}