
$button-size: 37px;
.controls {
  display: grid;
  grid-template-columns: [leftCol] $button-size [centerCol] $button-size [rightCol] $button-size;
  grid-template-rows: [topRow] $button-size [middleRow] $button-size [bottomRow] $button-size;
  height: 100%;
  align-items: center;
}

.item {
  width: $button-size;
  height: $button-size;
}

.item button {
  padding: 0;
  background: none;
  color: #FFB800;
  font-size: 2.4rem;
  text-align: center;
  margin: -6px 1px;
}

.up {
  grid-row-start: topRow;
  grid-column-start: centerCol;
}

.right {
  grid-row-start: middleRow;
  grid-column-start: rightCol;
}


.down {
  grid-row-start: bottomRow;
  grid-column-start: centerCol;
}

.left {
  grid-row-start: middleRow;
  grid-column-start: leftCol;
}
