@import '../../styles/animations.scss';
@import '../../styles/colors.scss';

$font-size: 15px;

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000;
  top: 0;
  opacity: .8;
  z-index: 10;
}

.infoBox {
  z-index: 11;
  position: absolute;
  left: 50%;
  top: 4em;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 500px;
  max-height: 100vh;
  background: url('../../assets/images/info-background.png') no-repeat;
  background-size: 100% 100%; 
  text-transform: uppercase;
  padding: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2em;
  margin-bottom: 1em;

  .summary {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      letter-spacing: 1px;
      animation: scale ease-in-out 1.1s;
    }

    p {
      text-align: left;;
      font-size: $font-size;
      margin-bottom: 8px;
      line-height: 16px;
      animation: slideUp ease 1s;
    }
  }

  figure {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    transform: rotate(-5.03deg);
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    margin-bottom: 1em;
    overflow: hidden;
    box-shadow: 2px 4px 4px $dark-yellow;
    animation: fall ease-out 1s;

    img {
      height: 100%;
      font-size: 14px;
    }
  }
}

.skills {
  font-size: $font-size;
  margin-bottom: 1.5em;

  .display {
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: 12px;
    }
    
    .row {
      display: grid;
      grid-template-columns: 60% 40%;
      margin-bottom: 7px;
      column-gap: 5px;

      span {
        line-height: 15px;
      }
      
      .val {
        width: 100%;
        height: 12px;
        background: $dark-yellow;

        .bar {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          text-shadow: none;
          color: $dark-yellow;
          font-size: 11px;
          letter-spacing: -1px;

          .fill {
            width: 100%;
            height: 100%;
            background: #FFF;
            animation: fill linear 1s;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  span {
    font-size: $font-size;
  }

  .continue {
    background: url('../../assets/images/continue-btn.png') no-repeat;
    background-size: 100% 100%;
    width: auto;
    min-height: 30px;
    color: #FFF;
  }
}